.container {
  min-width: 100vw;
  min-height: 100vh;
}

.content {
  max-width: 1440px;
  /* width: 100%; */
  margin-left: auto;
  margin-right: auto;
  padding-top: 112px;
  padding-left: 64px;
  padding-right: 64px;
}

.country-container {
  display: flex;
  flex-direction: row;
  margin-top: 64px;
}

.parent-info-wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.info-wrapper {
  display: flex;
  flex-direction: column;
}

.info-wrapper:not(:first-child) {
  margin-left: 64px;
}

.info-wrapper-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 32px;
}

.border-countries-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 32px;
}
.border-countries-wrapper > span:first-child {
  margin-right: 16px;
}

.border-countries-wrapper > div:not(:first-child) {
  margin-left: 12px;
}

.flag-wrapper {
  display: flex;
  width: 50%;
}

.flag-wrapper > img {
  max-width: 400px;
  width: 100%;
}

@media(max-width: 400px) {
  .country-container {
    flex-direction: column;
  }
  .info-wrapper-container {
    flex-direction: column;
  }
  .parent-info-wrapper { 
    width: 100%;
    margin-top: 32px;
  }
  .info-wrapper:not(:first-child) {
    margin-left: 0px;
    margin-top: 16px;
  }
  .flag-wrapper {
    width: 100%;
  }
  .border-countries-wrapper { 
    flex-direction: column;
    align-items: flex-start;
  }
  .border-countries-wrapper > span:first-child {
    margin-right: 0px;
  }
  
  .border-countries-wrapper > div:not(:first-child) {
    margin-left: 0px;
    margin-top: 12px;
  }
}